body {
  background: lightgoldenrodyellow;
}

h1,
p,
nav {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 5px;
  padding: 5px;
}

nav {
  padding: 10px;
}
